@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --white: #fafafb;
    --purple: #0b3a09;
    --blue-light:#2ecabd;
    --blue-dark:#131315;
    --green:#2c7b90;
}

body{
    background-color: #131315;
    font-family: 'Nunito Sans';
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: #242026;
    box-shadow: 0 15px 25px #52bf4f;
    border-radius: 10px;
}

.login-box img{
    position: relative;
    width: 100%;
    
}

.login-box h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fafafb;
    outline: none;
    background: transparent;
}

.login-box.user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}


